bin/
Ressources/Antibot/content
Ressources/Antibot/data
Ressources/Antibot/ui
Ressources/Antibot/config.xml
Ressources/Antibot/DofusInvoker.swf
Ressources/Antibot/SharedDefinitions.swf
Ressources/Antibot/log4as.xml
Ressources/accounts.txt
Ressources/Logs/
Others/
.classpath
.project